
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add_record</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        @{
            <form method="post">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Name</label>
                    <div class="col-sm-9">
                        <input type="text"  name="Name" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Password</label>
                    <div class="col-sm-9">
                        <input type="text"  name="Address" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">City</label>
                    <div class="col-sm-9">
                        <input type="text"  name="City" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Pin_Code</label>
                    <div class="col-sm-9">
                        <input type="text"  name="Pin_Code" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Designation</label>
                    <div class="col-sm-9">
                        <input type="text" name="Designation" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="submit" class="btn btn-primary" />
                    </div>    
                </div>
            </form>
        }
        
    </div>
    @{ 
        if(TempData["msg"]!=null)
        {
            <script>alert('@TempData["msg"]')</script>
        }
    }
</body>
</html>
